* {
  box-sizing: border-box;
  margin: 0px;
}

header {
  color: rgb(184, 184, 184);
  background-color: rgb(2, 24, 44);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 + p, h1 {
  text-align: center;
}

h1 {
  font-size: 4em;
}

h1 + p {
  font-size: 150%;
}

img {
  width: 175px;
  margin-left: 300px;
  margin-top: 50px;
  display: inlne;
  border-style: ridge;
  border-width: 4px;
  border-color: rgb(96, 97, 66);
  filter: contrast(125%) saturate(115%);
}

.info {
  margin-bottom: 5px;
  margin-left: 525px;
}

h2, ul {
  color: rgb(170, 170, 0);
  margin: 5px 100px;
}

#description {
  text-align: center;
  margin: 1% 20% 0%;
}

ul {
  color: rgb(41, 21, 133);
}

p > a {
  color: rgb(74, 74, 255);
}
p > a:hover {
  color: #bc74ff;
}
p > a:active {
  color: rgb(255, 38, 38);
}
